@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello,&nbsp;
        @if (context.User.Claims.Where(x => x.Type == "givenname").Any())
        {
            <span>@context.User.Claims.Where(x => x.Type == "givenname").First().Value&nbsp;</span>
        }
        @if (context.User.Claims.Where(x => x.Type == "surname").Any())
        {
            <span>@context.User.Claims.Where(x => x.Type == "surname").First().Value</span>
        }

        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
